apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: n8n
          image: docker.n8n.io/n8nio/n8n:latest
          ports:
            - containerPort: 5678
          env:
            - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
              value: "true"
            - name: N8N_RUNNERS_ENABLED
              value: "true"
            - name: DB_TYPE
              value: postgresdb
            - name: DB_POSTGRESDB_DATABASE
              value: n8n
            - name: DB_POSTGRESDB_HOST
              value: postgres-service.postgres.svc.cluster.local
            - name: DB_POSTGRESDB_PORT
              value: "5432"
            - name: DB_POSTGRESDB_USER
              value: n8n
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-secrets
                  key: DB_POSTGRESDB_PASSWORD
            - name: WEBHOOK_URL
              value: https://n8n.lipcloud.org
            - name: N8N_PROXY_HOPS
              value: "1"
            - name: N8N_RUNNERS_PYTHON_HOST
              value: "localhost"
            - name: N8N_RUNNERS_PYTHON_PORT
              value: "5679"
          volumeMounts:
            - mountPath: /home/node/n8n
              name: n8n-storage
          resources:
            requests:
              memory: "512Mi"
              cpu: "100m"
            limits:
              memory: "2Gi"
              cpu: "1"
        - name: n8n-python-runner
          image: docker.n8n.io/n8nio/n8n-python-runner:latest
          ports:
            - containerPort: 5679
          env:
            - name: N8N_RUNNER_AUTH_TYPE
              value: none
          resources:
            requests:
              memory: "512Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "0.5"
      volumes:
        - name: n8n-storage
          persistentVolumeClaim:
            claimName: n8n-pvc